<h2> Ember/Electron PoC</h2>
<p> This Proof of concept will be used to determine how well electron will be able to wrap the GreenLight.Guru Web application into a packaged desktop application. It is using ember 1.10, grunt, and node 4.4.0 as its dependencies to match the web application.</p>
<p> Written by Aaron Mercier</p>